
*{
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 2px 2px;
  color: #fff;
  text-shadow:
  black 2px 0px,  black -2px 0px,	black 0px -2px, black 0px 2px,
  black 2px 2px , black -2px 2px,	black 2px -2px, black -2px -2px,
  black 1px 2px,  black -1px 2px,	black 1px -2px, black -1px -2px,
  black 2px 1px,  black -2px 1px,	black 2px -1px, black -2px -1px;
  line-height: 1;
}
.button {
  color: #fff;
  font-size: 1em;
  height: 30px;
  width: 115px;
  border-style: none;
  border-radius: 5px;
}
#start {
  background-color: rgb(64, 101, 189);
}
#stop {
  background-color: rgb(189, 89, 64);
}
#reload {
  background-color: rgb(75, 75, 75);
}
.watchtext {
  font-size: 15px;
}

.watchnum {
  font-size: 25px;
}