
*{
  font-family: 'Press Start 2P', cursive;
  margin: 0px;
  padding: 2px 2px;
  color: #fff;
  text-shadow:
  black 2px 0px,  black -2px 0px,	black 0px -2px, black 0px 2px,
  black 2px 2px , black -2px 2px,	black 2px -2px, black -2px -2px,
  black 1px 2px,  black -1px 2px,	black 1px -2px, black -1px -2px,
  black 2px 1px,  black -2px 1px,	black 2px -1px, black -2px -1px;
  line-height: 1;
}
.button {
  color: #fff;
  font-size: 12px;
  text-shadow: none;
  height: 30px;
  border-style: none;
  border-radius: 3px;
}
#start {
  background-color: rgb(64, 101, 189);
  width: 166px;
  margin-right: 4px;
}
#startDeactivate {
  background-color: rgb(190, 190, 190);
  width: 166px;
  margin-right: 4px;  
}
#stop {
  background-color: rgb(64, 101, 189);
  width: 74px;
  margin-right: 4px;
}
#stopDeactivate {
  background-color: rgb(190, 190, 190);
  width: 74px;
  margin-right: 4px;
}
#reload {
  background-color:  rgb(189, 89, 64);
  width: 74px;
}
.watchtext {
  font-size: 10px;
}

.watchnum {
  font-size: 25px;
}